<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= insta.username %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Account Details</h2>
    <h3>Username : @<%= insta.username %></h3>
    <h4>post id : <%= insta.id %></h4>
    <div>
        <img src="<%= insta.image%>"> <!-- Render image here -->
        <h5><%= insta.comment %> 
    </div>
</body>
</html>